@import './base.css';

button {
  cursor: pointer;
}

input {
  border: none;
  cursor: pointer;
}

.v-field {
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--vt-c-white);
  letter-spacing: 1px;
}

.v-text-field label {
  font-size: 15px;
}

.v-messages {
  flex: none;
}

.main-form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 450px;
}

.v-sheet {
  background-color: var(--background-color);
}

@media (max-width: 768px) {
  .main-form {
    width: 100%;
  }
}
